@use './../main/variables' as *;

.card {
    max-width: 40rem;
    border-radius: 2rem;
    background: linear-gradient(25deg, #171e28, #1f2630);
    padding: 3rem;
    img {
        padding: 1rem;
        border-radius: 2rem;
        background-color: rgba($light-grey, .1);
    }
    h1 {
        color: white;
        margin: 1.5rem 0rem;
    }
    .buttons {
        margin: 3rem 0rem;
        display: flex;
        justify-content: space-between;
        button {
            width: 4rem;
            height: 4rem;
            border: none;
            border-radius: 50%;
            background-color: rgba($light-grey, .1);
            color: $medium-grey;
            transition: 0.2s linear all;
            &:hover {
                background-color: rgba($light-grey, .5);
                color: white;
                transition: 0.2s linear all;
            }
        }
    }
    .submit {
        width: 100%;
        padding: 1.1rem 0rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        border-radius: 2rem;
        border: none;
        color: #fff;
        background-color: $orange;
        font-weight: bold;
        transition: 0.2s linear all;
        &:hover {
            background-color: #fff;
            color: $orange;
            transition: 0.2s linear all;
        }
    }
}