@use 'variables' as *;
@use 'mixins' as *;

*,*::after,*::before {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    height: 100vh;
    background-color: $very-dark-blue;
    display: grid;
    place-content: center;
    font-family: 'Overpass', sans-serif;
    padding: 0rem 1.5rem;
    @include desktop {
        padding: 0;
    }
}
p,
h1,
h2,
h3 {
    margin: 0;
}
img {
    max-width: 100%
}
h1 {
    font-size: 2.5rem;
}
p {
    font-size: 1.4rem;
    color: $light-grey;
    line-height: 2.3rem;
}
input,
button {
    font-family: inherit;
    cursor: pointer;
}

